@import '../../../../styles/variables';
@import '../../../../styles/mixins/colors';

.icon-hover {
    &__info-hover {
        background: color-from-var($color-tertiary-light);
        display: block;
        margin-top: $space--4;
        padding: $space--4 $space--4;
        position: absolute;

        &--open-left {
            right: 10%;
        }
    }
}
