.dashboard {
    position: relative;

    &--body {
        display: grid;
        grid-template-columns: auto 1fr;

        height: 100vh;
    }

    &--content {
        background: #eef1f6;
        display: grid;
        grid-template-rows: auto 1fr;

        height: 100vh;
    }
}
