@import '../../../../styles/variables';
@import '../../../../styles/mixins/colors';
@import '../../../../styles/mixins/typography';
@import '../../../../styles/mixins/breakpoints';
@import '../../../../styles/mixins/remify';

.dropdown {
    $parent: &;
    position: relative;

    &--dark {
        #{$parent}__field {
            background: color-from-var($color-tertiary-medium);
            border-radius: 8px;
            // border: 1px solid var(--input-border-color, #{color-from-var($color-primary, 0.22)});
            color: color-from-var($color-tertiary--contrast);
        }

        #{$parent}__icon {
            color: color-from-var($color-white);
        }
    }

    &__field {
        @include set-font-size($font-size--5);
        appearance: none;
        background: color-from-var($input-background);
        border: 1px solid color-from-var($input-border);

        border-radius: $radius;
        //color: var(--input-color, #{color-from-var($color-gray-darkest)});
        color: #fff;
        font-size: 14px;

        font-weight: 400;
        line-height: 22px;

        margin: 0;

        // TODO: Not accessible but designs do not have an alternative.
        outline: none;

        padding: $space--3;

        width: 100%;

        @include desktop() {
            line-height: 20px;
            padding: $space--2;
        }

        &--large {
            @include strong-text();
            @include set-font-size($font-size--base);

            padding: $space--4;
        }
    }

    &__icon {
        color: color-from-var($color-white);
        pointer-events: none;
        position: absolute;
        right: $space--3;
        top: 50%;
        transform: translateY(-50%);
        width: remify(11px);
    }
}
