
@import '../../../../styles/variables';
@import '../../../../styles/mixins/colors';
@import '../../../../styles/mixins/scroll';

.javascript-structure {

    @include  scroll();
    background: #eef1f6;
    border-radius: $radius--small;
    font-size: 12px;
    line-height: 1.1;
    max-height: 400px;
   
    overflow: auto;
    padding: 1rem;
}